@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* 
#112e42 */

html,
body {
  width: 100%;
  height: 100%;
  background-color: #081b29;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.container {
  position: relative;
  width: 340px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  box-shadow: 0px 0px 10px #00abf0;
  border: 2px solid #00abf0;
  gap: 10px;
  background-color: #081b29;
}

#input {
  border: 3px solid #00abf0;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 10px;
  background-color: transparent;
  color: white;
  font-size: 12px;
  transition: all 0.2s;
}

#input::placeholder {
  color: rgb(167, 162, 162);
}

#input:hover {
  box-shadow: 0px 0px 8px #00abf0;
}

#btn {
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bolder;
  font-size: 15px;
  background-color: #00abf0;
  border: 3px solid #00abf0;
  color: #081b29;
  transition: all 0.1s linear;
}

#btn:hover {
  background-color: #081b29;
  color: #00abf0;
}

#btn:active {
  transform: scale(0.9);
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.details {
  padding: 8px;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: #112e42;
  border-radius: 10px;
  border: 0.1rem solid #00abf0;
  transition: all 0.1s linear;
}

.details:hover {
  background-color: #081b29;
}

.videos {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.income {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #112e42;
  border-radius: 10px;
  border: 0.1rem solid #00abf0;
  padding: 5px;
  width: 100%;
  transition: all 0.1s linear;
}

.income:hover {
  background-color: #081b29;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.detail p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.details > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.recent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.videos img {
  width: 126px;
  height: 70px;
  border-radius: 5px;
  border: 1px solid orange;
  box-shadow: 0px 0px 2px orange;
  background-position: center;
  object-fit: cover;
}

.popular {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.container > h2 {
  text-align: center;
  border-bottom: 5px solid #00abf0;
  padding: 3px 3px;
  width: 110px;
}

#rs {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: greenyellow;
  font-weight: bold;
}